DATABASE_URL=""

PORT=3000

FRONTEND_URL="http://localhost:5173"
API_URL="http://localhost:3000"

NODE_ENV=development

OPENRAINBOW_APPLICATION_ID=""
OPENRAINBOW_APPLICATION_SECRET=""

OPENRAINBOW_LOGIN=""
OPENRAINBOW_PASSWORD=""

SESSION_SECRET=""

RAINBOW_ISSUER_URL="https://sandbox.openrainbow.com"